<header>
{#    {% include './header-top-stripe.njk' %}#}
    <section class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-bottom__inner">
                        {% include '../atoms/logo.njk' %}
                        <a href="#headerNav" class="mobile-menu-trigger d-md-none">
                            <i class="ri-menu-4-fill"></i>
                        </a>
                        {% include '../molecules/header-nav.njk' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>