{% set title = 'Contact' %}
{% set ourServicesPage = true %}

{% extends 'layouts/default.njk' %}
{% import "macro/macro.njk" as Macro %}

{% block content %}
    <section class="sub-header">
        <div class="overlay overlay--dark"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1>{{ title }}</h1></div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Get In Touch</h2>
                    <h6 class="subtitle">We Would Love to Hear From You</h6>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h3 class="text-center">Send Us a Message</h3>
                    {% include 'partials/organisms/contact-form.njk' %}
                </div>
                <div class="col-md-6">
                    <iframe src="https://snazzymaps.com/embed/274164" width="100%" height="400px" style="border:none;"></iframe>
                </div>
            </div>
        </div>

    </section>
    <section class="map">

    </section>
{% endblock %}
